

@font-face {
  font-family: 'Italiana'; /* Nombre de la fuente */
  src: url('./assets/fonts/italiana-regular.otf') format('opentype'); /* Ruta a la fuente */
  font-weight: normal;
  font-style: normal;
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Italiana';
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
